input {
	mongodb {
		uri => 'mongodb://localhost:27017/rtpa'
		placeholder_db_dir => 'C:\Users\Ruchita\logstash-6.6.1\db_dr'
		placeholder_db_name => 'logstash_sqlite.db'
		collection => 'myindex1'
		batch_size => 6876
		
	}
}
filter {

	
}
output {
	elasticsearch {
		hosts => ["localhost:9200"]
		index =>  "cloth1"
		document_type => "clothing1"
	}
	stdout{}
}